<center>
<h2>マンガ詳細</h2>
</center>
<div class="container">
<div class="row">
<table class="table">
	<tbody>
		<tr>
			<th>作品名</th>
			<td><%= @comic.title %></td>
		</tr>
		<tr>
			<th>作品名（カナ）</th>
			<td><%= @comic.title_kana %></td>
		</tr>
		<tr>
			<th>作者</th>
			<td><%= @comic.author %></td>
		</tr>
		<tr>
			<th>出版社</th>
			<td><%= @comic.publisher %></td>
		</tr>
		<tr>
			<th>あらすじ</th>
			<td><%= @comic.story %></td>
		</tr>
		<tr>
			<th>既刊</th>
			<td><%= @comic.back_number %></td>
		</tr>
	</tbody>
</table>
</div>
</div>
<li>
  <%= link_to 'トップページ', root_path %>
</li>

<li>
  <%= link_to 'マンガ一覧', comics_path %>
</li>

<li>
  <%= link_to 'マンガ追加', new_comic_path %>
</li>

<% if @comic.user == current_user || admin_signed_in? %>
  <li>
    <%= link_to 'マンガ編集', edit_comic_path(@comic.id) %>
  </li>
<% end %>