<!DOCTYPE html>
<html>
<head>
	<title>COMICwithUS</title>
</head>
<body>
	<div class="center">
	  <div class="background">
	  	<div class="fukidasi">
		  <%= image_tag 'comic7.png' %>
		  <%= image_tag 'comic8.png' %>
		  <%= image_tag 'comic9.png' %>
	    </div>
	  </div>
	</div>

	<table class="table table-striped">
	  <thead>
	  	<tr>
	  	  <th>総合ランキング</th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @comics.each.with_index(1) do |comic, i| %>
	  	<tr>
	  	  <td><%= i %>位</td>
  		  <td><%= comic.title %></td>
  		  <td class="average-review-rating" data-score="<%= comic.reviews.average(:rank) %>"></td>
  		  <td><%= comic.attributes['avg_rank'].round(2) %></td>
  		</tr>
	  <% end %>
	  </tbody>
    </table>
	<p><%= link_to 'もっと見る>>', comics_total_ranking_path %></p>
	<table class="table table-striped">
	  <thead>
	  	<tr>
	      <th>レビュワーランキング</th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @all_ranks.each.with_index(1) do |user, i| %>
	    <tr>
	   	  <td><%= i %>位</td>
  		  <td>
  		    <%= link_to user_path(user) do %>
  		      <%= user.name %>
  		  	<% end %>
  		  </td>
  	  	</tr>
	  <% end %>
	  </tbody>
	</table>
    <P><%= link_to 'もっと見る>>', users_reviewer_ranking_path %></P>
</body>
</html>
<script>
  $('.average-review-rating').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>